@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Libre Franklin", sans-serif;
}
.main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 5% 20% 1% 15% 3% 30% 10% 15% 1%;
}
.section-header {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding-bottom: 1rem;
}
.logo {
  margin-bottom: 2rem;
}
.tittle {
  font-size: 22px;
  font-weight: 700;
}
span {
  color: hsl(0, 0%, 59%);
  font-weight: 300;
}
.description {
  font-size: 15px;
}
.section-form {
  grid-area: 4 / 2 / 5 / 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.inputE {
  border: 2px solid hsl(223, 100%, 88%);
  display: flex;
  width: 18rem;
  height: 2.5rem;
  border-radius: 1rem;
}
.inputE.active {
  border: solid hsl(354, 100%, 66%);
}
.i-email {
  margin: 0px 0 0 4rem;
  width: 16rem;
  border: none;
  outline: 0;
  border-radius: 1rem;
  padding: 1rem;
}
.error-E {
  color: hsl(354, 100%, 66%);
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
}
.error-E.Visible {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  margin-top: 0.5rem;
}
.button {
  width: 18rem;
  height: 2.5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(223, 87%, 63%);
}
.button.active {
  background-color: hsl(223, 100%, 88%);
  transition: all 0.4s ease-in-out;
}
.i-submit {
  width: 18rem;
  height: 2.5rem;
  border-radius: 1rem;
  font-family: "Libre Franklin", sans-serif;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: hsl(223, 87%, 63%);
  color: white;
}
.i-submit.active {
  background-color: hsl(223, 100%, 88%);
  transition: all 0.4s ease-in-out;
}
.article-img {
  grid-area: 6 / 2 / 7 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}
.dashboard {
  width: 20rem;
}
.article-footer {
  grid-area: 8 / 2 / 9 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.i-facebook,
.i-twitter,
.i-instagram {
  display: inline-flex;
  margin: 0 1rem;
  border: 1px solid black;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.iconos > a:hover {
  background-color: hsl(223, 87%, 63%);
  width: 2rem;
  height: 2rem;
}
.footer {
  text-align: center;
  font-size: 15px;
  margin: 2rem 0 0;
  color: hsl(0, 0%, 59%);
  font-weight: 300;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/*------------PARA PC ---------------------*/
@media only screen and (min-width: 1000px) {
  .main {
    width: 1440px;
    height: 1024px;
  }
  .tittle {
    font-size: 45px;
  }
  .description {
    font-size: 20px;
  }
  .section-form {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 20% 40% 24% 18%;
  }
  .inputE {
    grid-area: 2 / 1 / 3 / 2;
    margin-left: 18rem;
    width: 25rem;
  }
  .i-email {
    width: 23rem;
  }
  .error-E {
    grid-area: 3 / 1 / 4 / 2;
    margin-left: 20rem;
  }
  .button {
    grid-area: 2 / 2 / 3 / 3;
    width: 10rem;
    margin-left: 3rem;
  }
  .dashboard {
    width: 45rem;
    margin: auto;
  }
  .i-facebook,
  .i-twitter,
  .i-instagram {
    font-size: 35px;
  }
  .iconos > a:hover {
    width: 5rem;
    height: 5rem;
  }
}
